<div class="paper-card panel panel-default paper-45"
  ng-controller="ReposDtlDescCtrl as ctrl">

  <nav class="ctrlbar">
    <a class="btn" ng-disabled="frm.$pristine" ng-click="ctrl.save()">保存</a>
  </nav>

  <form name="frm">

    <label >题库名称</label>
    <input type="text" class="form-control" ng-model="reposDesc.title" name="title">

    <label >简要描述</label>
    <textarea type="text" class="form-control" rows="2"
      ng-model="reposDesc.brief_desc" name="brief_desc">
    </textarea>

    <label >使用说明</label>
    <textarea type="text" class="form-control" rows="7"
      ng-model="reposDesc.full_desc" name="full_desc">
    </textarea>

  </form>
</div>
