<div class="wf-pending" ng-class="{ in: isOpen(), fade: animation() }" ng-controller="WfPendingPanelCtrl">
  <div class="arrow"></div>
  <div >
    <div class="modal-header" ng-if="pending.length > 0">
        <h4 class="modal-title">待办任务</h4>
    </div>
    <div class="modal-body" ng-if="pending.length == 0">
        <h4 class="modal-title" style="text-align:center">无待办任务</h4>
    </div>
    <div class="modal-body" style="max-height:300px; overflow-y: auto;" ng-if="pending.length > 0">
      <table class="table"  >
        <thead>
          <tr >
            <th style="width:8rem"></th>
            <th>任务</th>
            <th style="width:10rem">开始时间</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in pending track by $index" style="height:3rem">
            <td><button ng-click="open(r)" class="btn btn-success btn-sm">{{r.task_type}}</button></td>
            <td>{{r.task_name}}</td>
            <td>{{r.bgn_date}}</td>
          </tr>
        </tbody>
      </table>

    </div>
<!--     <div class="modal-footer">
    </div>
 -->
  </div>

</div>
