<div>
  <ui-select class="form-control" style="width:100%;"
    multiple ng-model="model.selected">

    <ui-select-match placeholder="选择主机...">
      <span ng-bind-html="$item.host_no"
        class="label label-default" style="font-size:102%"></span>
      <span ng-bind-html="$item.title"></span>
    </ui-select-match>
    <ui-select-choices
      repeat="opt in options"
      refresh="refresh($select)"
      refresh-delay="0"
      >
      <div ng-if="opt.tooMany > 0">
        条目<span class="badge">{{opt.tooMany}}</span>太多，
        请再输缩小范围
      </div>
      <div ng-if="!opt.tooMany">
        <span ng-bind-html="opt.host_no"
          class="label label-default" style="font-size:102%"></span>
        <span ng-bind-html="opt.title"></span>
      </div>
    </ui-select-choices>
  </ui-select>
</div>
