

.release-schema .panel-heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 25px;
}
.release-schema .panel-heading > h4 {
  flex-grow: 1;
  /* flex: 1; */
}

.release-schema .panel-heading > .btn-append {
  font-size: 130%;
  font-weight: bolder;
  cursor: pointer;
}
.release-schema .panel-heading > .btn-append:hover {
  color: #4ebac1;
}

.release-schema .panel-body {
  flex-wrap: wrap;
  justify-content: center;
}



fieldset.schema-section {
  min-width: 30em;

}

fieldset.schema-section {
    font-family: sans-serif;
    border: 2px solid #1F497D;
    /*background: #ddd;*/
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px 15px;
}

fieldset.schema-section legend {
    background: #219294;
    color: #fff;
    padding: 1px 5px;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #ddd;
    /* margin-left: 20px; */
    margin: 0;
}

.schema-section input{
  display: inline-block;
}

.schema-section legend{
  display: flex;
  align-items: center;
}
.schema-section legend > div {
  margin-right: 1em;
  /* text-align: center; */
}
.schema-section legend > input {

  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.schema-section legend > button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: transparent;
  color: #eee;
  border-style: none;
  text-shadow: 0 0 0;
  font-size: 80%;
}

.schema-section legend > button:hover {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: transparent;
  color: #fff;
  font-weight: bolder;
  border-style: none;
}

.schema-section label{
  font-size: 90%;
  color:#999;

}
.points-equation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 120%;
    font-weight: bolder;
}

.points-equation input {
  max-width: 3em;
  padding-right: 0;
  text-align: center;
  font-size:130%;
}

.points-equation  .math-operator {
  font-size: 150%;
  font-weight: bolder;
}

.points-equation div.form-control {
  max-width: 3em;
  padding-right: 0;
  text-align: center;
  font-size:130%;
}

.schema-section > hr {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 5px;
}

.schema-section .selector{
  display: flex;
  flex-direction: row;
  margin: 0 -12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  align-items: flex-end;
}
.schema-section .selector  > .btn-question-style{
  max-width: 10em;
  flex: 0 0 7em;
  /* border-style: initial; */
  /* box-shadow: 0 0 0; */
  /* border-bottom-style: solid; */
  /* border-radius: 0px; */
}
.schema-section .selector  > .tags {
  flex-grow: 1;
}

.schema-section .selector  > .btn-tag-picker {

}
.schema-section .selector  > .btn-selector-remove {
  flex: 0 0 2em;
  height: 2em;
  /* width: 2em; */
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
  top: 0.4em;
  position: relative;
  cursor: pointer;
}

.schema-section .points-equation .form-control,
.schema-section .selector .form-control {
  border-style: initial;
  box-shadow: 0 0 0;
  border-bottom-style: solid;
  border-radius: 0px;
}


.schema-section .footer {
  flex: 0 0 1em;
  margin: 0 -15px;
}

.schema-section .btn-append {
  font-size: 120%;
  margin-left: 10px;
  cursor: pointer;

}

.schema-section .btn-append:hover {
  color: #E91E63;
}


th.selector > div {
  display: block;
   /*display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
  justify-content: flex-end;*/
}

.cat-dist.table input {
  width:4em;
  text-align:center;
  border-radius: 3px;
  padding-right: 0;
  font-weight: bold;

}
