<div class="release-schema questlist panel panel-primary screen-min-height"
  ng-controller="ReleaseSchemaCtrl as ctrl">

  <nav class="ctrlbar">
    <a class="btn" ng-click="save()">保存</a>
  </nav>

  <div class="panel-heading">
    <h4>定义试卷命题结构</h4>
    <div class="btn-append"
      ng-click="addSection(schema.sections)" >
      <span class="glyphicon glyphicon-plus">
      </span>
    </div>
  </div>

  <div class="panel-body">

    <fieldset class="schema-section"
      ng-repeat="section in schema.sections track by $index">

      <legend>
        <div>&sect;{{$index + 1}}</div>
        <input type="text" class="form-control" ng-model="section.title" >
        <button
          ng-click="removeSection(schema.sections, $index)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>

        <!-- <div class="input-group">
          <input type="text" class="form-control"
            placeholder="请输入节的标题"
            ng-model="section.title">
          <span class="input-group-btn">

          </span>
        </div> -->

      </legend>

      <div class="points-equation">
        <div>
          <label>分值</label>
          <input type="number" class="form-control" ng-model="section.points">
        </div>
        <div class="math-operator"> = </div>
        <div>
          <label>题空数</label>
          <input type="number" class="form-control" ng-model="section.blank_count">
        </div>
        <div class="math-operator">
          &times;
        </div>
        <label>每空</label>
        <div class="form-control">
          {{((section.points >0 && section.blank_count > 0)? section.points / section.blank_count : 0) | number : 1}}
        </div>
      </div>
      <hr>
      <div class="selector"
        ng-repeat="selector in section.selectors track by $index">

        <select class="form-control btn-question-style"
          ng-model="selector.question_style"
          ng-options="k as k for (k,v) in repos.questionStyles">
          <option value="" disabled selected hidden>题型...</option>
        </select>

        <div class="tags">
          <div  ng-repeat="label in selector.tags track by $index">
            <div class="btn-tag">
              <a>
                {{label}}
                <span class="glyphicon glyphicon-remove-circle"
                  ng-click="removeTag(selector.tags, label)">
                </span>
              </a>
            </div>
          </div>
        </div>

        <category-picker class="btn-tag-picker" depth="1"
          options="repos.tags"
          on-select="addTag(selector.tags, $selected)">
          <div class="icon-add-tag"> </div>
        </category-picker >

        <div class="btn-selector-remove">
          <span class="glyphicon glyphicon-remove"
            ng-click="removeSelector(section.selectors, selector, $index)">
          </span>
        </div>

      </div>
      <div class="footer">
        <div class="btn-append"
          ng-click="addSelector(section.selectors)">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="panel-heading">
    <h4>定义试卷的知识要点分布</h4>
  </div>
  <div class="panel-body">
    <table class="cat-dist table">
      <tr>
        <th></th>
        <th></th>
        <th ng-repeat="section in schema.sections track by $index" colspan="{{section.selectors.length}}">
          &sect;{{$index + 1}}
        </th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th class="selector" ng-repeat="selector in selectorCols track by $index">
          <span class="badge-label question-style">
            {{selector.question_style}}
          </span>
          <div  ng-repeat="label in selector.tags track by $index">
            <div class="btn-tag">
              <a>
                {{label}}
                <span></span>
              </a>
            </div>
          </div>

        </th>
      </tr>
      <tr ng-repeat="r in catItems track by $index">
        <td style="width:8em">
          {{r[1]}}
        </td>
        <td style="width:8em">
          {{r[2]}}
        </td>
        <td ng-repeat="col in selectorCols track by $index">
          <input type="number" class="form-control">
        </td>

      </tr>
    </table>
  </div>
</div>
