<div class="question-badge">
  <span class="badge-tagging">
    <div class="item">
      <div class="icon-save-later" n
        ng-class="{active: question.saveForLater }"
        ng-click="$ctrl.saveForLater()">
      </div>
    </div>
    <div class="item">
      <category-picker depth="2"
        options="repository.categories"
        on-select="$ctrl.addToKnowledge($selected)">
        <div class="icon-save-to-knowledge"> </div>
      </category-picker>
    </div>
    <div class="item">
      <category-picker depth="1"
        options="repository.tags"
        on-select="$ctrl.addTag($selected)">
        <div class="icon-add-tag"> </div>
      </category-picker >
    </div>
  </span>

  <!-- <div class="padding"></div> -->
  <div class="trash" ng-click="$ctrl.trash(question.quest_sn)">
    <span class=" glyphicon glyphicon-trash"> </span>
  </div>



  <span class="badge-setting" ng-if="mode=='editing'">

    <div class="setting-purpose btn-group" >
      <label class="btn btn-primary btn-testing"
        ng-model="question.purpose.testing"
        uib-btn-checkbox>
        <span class="glyphicon"
          ng-class="{'glyphicon-check': question.purpose.testing, 'glyphicon-unchecked': !question.purpose.testing}">
        </span>
        <span>测试</span>
      </label>
      <label class="btn btn-primary btn-exercising"
        ng-model="question.purpose.exercising" uib-btn-checkbox>
        <span class="glyphicon"
          ng-class="{'glyphicon-check': question.purpose.exercising, 'glyphicon-unchecked': !question.purpose.exercising}">
        </span>
        <span>练习</span>
      </label>
    </div>

    <select class="form-control btn-question-style"
      ng-model="question.questionStyle"
      ng-options="k as k for (k,v) in repository.questionStyles">
      <option value="" disabled selected hidden>题型...</option>
    </select>

  </span>

  <span class="badge-purpose" >
    <span class="badge-label purpose-testing"
      ng-if="question.purpose.testing">
      <span>测试</span>
    </span>
    <span class="badge-label purpose-exercising"
      ng-if="question.purpose.exercising">练习
    </span>
    <span class="badge-label question-style"
      ng-if="question.questionStyle">
      {{question.questionStyle}}
    </span>
  </span>


  <span class="item tag"
    ng-repeat="item in tagList track by $index"
    ng-class="{hover: hovers[item[0].label]}"
    ng-mouseenter="hovers[item[0].label] = true"
    ng-mouseleave="hovers[item[0].label] = false"
    >

    <span class="badge-label"> {{item[0].label}} </span>
    <span class="badge-remove glyphicon glyphicon-remove-circle"
      ng-click="$ctrl.removeTag(item[0].label)">
    </span>
  </span>
  <span class="item category level-1"
    ng-repeat="item in categoryList track by $index"
    ng-class="{hover: hovers[item[0].label]}"
    ng-mouseenter="hovers[item[0].label] = item[1].length == 0 && true"
    ng-mouseleave="hovers[item[0].label] = false"
    >

    <span class="badge-label"> {{item[0].label}} </span>
    <span class="sublevel-flag" ng-if="item[1].length > 0">
      <span class="glyphicon glyphicon-triangle-right"></span>
    </span>

    <span class="category level-2" ng-repeat="subitem in item[1] track by $index"
      ng-class="{hover: hovers[subitem.label]}"
      ng-mouseenter="hovers[subitem.label] = true"
      ng-mouseleave="hovers[subitem.label] = false"
      >

      <span class="badge-label">
        {{subitem.name}}
      </span>
      <span class="badge-remove glyphicon glyphicon-remove-circle"
        ng-click="$ctrl.removeCategory(subitem.label)">
      </span>
    </span>
    <span class="badge-remove glyphicon glyphicon-remove-circle"
      ng-click="$ctrl.removeCategory(item[0].label)">
    </span>
  </span>
</div>
