

.field-has-error input {
  border-color: #c71585;
}

.field-has-error input.form-control:focus {
  border-color: #c71585;
  border-style: dotted;
}

.field-has-error .field-error-message{
  margin-left: 1em;
  color: #8b0000;
}
