<div class="select-date">
	<div class="uneditable form-control" ng-show="!editable">
		{{model.date | date : 'yyyy-MM-dd'}}
	</div>
	<div class="editable input-group" ng-show="editable">
	  <input type="text"
			class="form-control"
			ng-model="model.date"
			is-open="opened"
		  uib-datepicker-popup="y-M!-d!"
			format-day-title="yyyy MM"
			datepicker-options="dateOptions"
			date-disabled="disabled(date, mode)"
			starting-day="1"
			close-text="X"
			current-text="选择今日"
			clear-text="清除填写内容">

		<span class="input-group-btn">
	    <button type="button" class="btn btn-default" ng-click="open()">
				<i class="glyphicon glyphicon-calendar"></i>
			</button>
	  </span>
	</div>
</div>
