<div class="pane-container" ng-controller="ReposDtlCtrl as ctrl"
  style="">

  <nav class="pane-nav sidebar">
    <div class="header">
      <label ng-if="repos_sn == 0">当前题库为新建</label>

      <label ng-if="repos_sn">配置题库：{{reposDesc.title}}</label>
    </div>
    <a
      ui-sref="repos.workshop.questlist({repos_sn:repos_sn, source:'saveforlater'})"
      ui-sref-active="active">返回工作室
    </a>
    <a ui-sref="repos.settings.desc({repos_sn: repos_sn})"
      ui-sref-active="active">
      题库说明
    </a>
    <a ui-sref="repos.settings.styles({repos_sn: repos_sn})"
      ui-sref-active="active" ng-hide="repos_sn == 0" >
      定义题型
    </a>
    <a ui-sref="repos.settings.tags({repos_sn: repos_sn})"
      ui-sref-active="active" ng-hide="repos_sn==0" >
      定义标签
    </a>
    <a ui-sref="repos.settings.categories({repos_sn: repos_sn})"
      ui-sref-active="active" ng-hide="repos_sn==0" >
      定义知识要点
    </a>
    <a ui-sref="repos.settings.collaboration({repos_sn: repos_sn})"
      ui-sref-active="active" ng-hide="repos_sn==0" >
      合作成员
    </a>

    <a ui-sref="repos.settings.advanced({repos_sn: repos_sn})"
      ui-sref-active="active" ng-hide="repos_sn==0" >
      高级配置
    </a>
  </nav>

  <div class="pane-content list-detail-view" style="flex-grow:1;" ui-view >（无页面）</div>
</div>
