<div class="category-select" tabindex="0">
  <div>
    <input class="form-control search-input" type="text" placeholder="按&#8645; 空格或回车选，首字母筛...">
  </div>
  <div class="category-select-menu" >
    <div class="category-option"
      ng-repeat="item in categoryItems track by $index"
      ng-class="{'level-1': !item[2], 'level-2': item[2], active: $index === activeIndex, 'depth-one': depth == 1, 'depth-two': depth !=1 }"
      ng-click="setSelect()"
      ng-dblclick="setSelect()"
      ng-mouseover="highlight($index)"
      >
      {{ (item[2]==null)? item[1] : item[2] }}
      <!-- <span ng-if="depth == 1 || item[2].length == 0">{{item[1]}}
      </span>
      <span ng-if="depth == 1 || item[2].length > 0">{{item[2]}}
      </span> -->
    </div>
  </div>
  <div class="caret-up">
  </div>
</div>
