
<div class="user-profile" ng-class="{ in: isOpen(), fade: animation() }" >
  <div class="arrow"></div>
  <div ng-controller="UserSessionCtrl as ctrl">
    <div class="modal-header">
        <h3 class="modal-title">{{user.name}}</h3>
        <div class="pic"><img src="/lib/images/user-icon-256.png"></div>
    </div>
    <div class="modal-body" >
      
      <table>
        <tr><td class="col-header">柜员号</td><td>{{user.tlr_no || '无配置柜员号' }}</td></tr>
        <tr>
          <td class="col-header">部门</td>
          <td>{{user.dep_cn | ouProfile : 'name'}}</td>
        </tr>
        <tr>
          <td class="col-header">岗位</td>
          <td>
            <span class="label1 label-primary1" ng-repeat="tag in user.tags"> {{tag}}</span>
          </td>
        </tr>
        <tr>
          <td class="col-header">系统角色</td>
          <td>
            <span class="label1 label-primary1" ng-repeat="tag in user.sys_roles"> {{tag}}</span>
          </td>
        </tr>
      </table>


    </div>
    <div class="modal-footer">
      <div></div>
      <a class="pull-left" ng-click="changePassword()">更改密码</a>
      <a class="pull-right" ng-click="close()" style="color:red;font-weight:bolder;font-size:120%"> 
        <span class="glyphicon glyphicon-off"></span>
      </a>
      <div class="upstream-updated">生产数据更新至: <b>2014.11.03</b></div>  
    </div>

  </div>

</div>
