<div class="paper-card panel panel-default paper-80"
  ng-controller="UserListCtrl as lstctrl">

  <div class="ctrlbar">
    <ul class="nav navbar-nav" >
      <li>
        <button type="button" class="btn" ui-sref="user.detail(0)" >
          <span class="glyphicon glyphicon-plus"
                style="vertical-align: text-top;margin-left: 2px;"></span>
          <span>新建用户</span>
        </button>
      </li>

      <li>
        <button type="button" class="btn"
          ng-disabled="lstctrl.selected.length == 0" ng-click="lstctrl.remove()">
          <span class="glyphicon glyphicon-remove-circle"
                style="vertical-align: text-top;margin-left: 2px;"></span>
          <span>删除用户</span>
        </button>
      </li>
    </ul>
  </div>

  <div class="panel-header">
    <ul class="nav-breadcrumb">
      <li><a >系统管理</a></li><li><a>用户管理</a></li>
    </ul>
  </div>

  <div class="panel-body">

    <table class="table table-striped"
    st-table="lstctrl.displayed" st-pipe="lstctrl.pipe"
    cb-select="lstctrl.selected" cb-bind-pipe="lstctrl.reloadTable">

    <thead>
      <tr>
        <th style="width:2em"></th>
        <th style="width:10em" st-sort="login_id">登录ID</th>
        <th style="width:10em">用户名</th>
        <th style="width:15em">创建日期</th>
        <th style="width:15em">密码时间</th>
        <th >备注</th>
      </tr>
    </thead>

    <tbody >
      <tr ng-repeat="item in lstctrl.displayed">
        <td cb-checkbox="item"></td>
        <td >
          <a ui-sref="user.detail({user_sn: item.user_sn})">
            {{ item.login_id }}
          </a>
        </td>

        <td >{{ item.user_name }}</td>
        <td >{{ item.created | date : 'yyyy-MM-dd'}}</td>
        <td >{{ item.passwd_upd | date : 'yyyy-MM-dd'}}</td>
        <td >{{ item.notes }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr><td colspan="10" ><st-pagination></st-pagination></td></tr>
    </tfoot>
  </table>

  </div>
</div>
