<div ng-controller="ReposListGridCtrl as ctrl">
  <div class="grid-row">
    <div class="grid-item" ng-repeat="item in ctrl.items">
      <div class="dozen-card repos-item">
        <div class="dozen-card-inner">
          <h4 class="title">
            <a ui-sref="repos.workshop.questlist({repos_sn: item.repos_sn, source:'saveforlater'})">
              {{item.title}}
            </a>
          </h4>
          <p class="brief">
            {{item.brief_desc}}
          </p>
          <div class="statistics" style="height:1.5em">
            <div class="item">
              <label>订阅</label>
              <span class="value">{{2}}</span>
            </div>
            <div class="item">
              <label>题</label>
              <span class="value">{{13}}</span>
            </div>
            <div class="item">
              <label>知识点</label>
              <span class="value">{{13}}</span>
            </div>
          </div>
          <div class="pinned-status">
            <span class="glyphicon"
              ng-class="{'glyphicon-star-empty': !item.pinned, 'glyphicon-star': item.pinned}"
              ng-click="ctrl.pindown(item)">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
