<div class="tag-editor panel panel-primary paper-card paper-45"
  ng-controller="TagEditorCtrl as ctrl"
  ng-init="target='QuestionStyle'">

  <div class="panel-heading">
    <h4>定义题库题型</h4>
  </div>
  <div class="panel-body card-grid">
    <div  ng-repeat="item in items">
      <div class="btn-tag">
        <a>
          {{item[0].label}}
          <span class="glyphicon glyphicon-remove-circle"
            ng-click="ctrl.removeTag(item[0])">
          </span>
        </a>
      </div>
    </div>
  </div>

  <form name="frm">
    <div class="panel-footer" style="display:flex; align-items: flex-end;">
      <div style="flex-grow:1">
        <label >可同时添加多个题型，使用空格或分号、逗号做间隔即可</label>
        <input type="text" class="form-control" ng-model="tagText">
      </div>
      <button type="submit" class="btn btn-primary" style="flex-grow: 0"
        ng-disabled="frm.$pristine" ng-click="ctrl.add()">添加
      </button>
    </div>
  </form>

</div>
