
.checklist-container {
    width: 180px;
    min-height: 100px;
    transition: all 1s ease;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.15);
    position: relative;
    margin-top: 11.25px;
    display: flex;
    flex-direction: column;
}

.checklist-container:after, .checklist-container:before {
  background: #fff;
  border: 1px solid #dfdfdf;
  box-shadow: 0 2px 4px #dfdfdf;
  /* flex-grow: 1; */
}

.checklist-container:after, .checklist-container:before {
  content: '';
  border-radius: 3px;
  position: absolute;
  z-index: 0;
  height: 10px;
}


.checklist-container:before {
  left: 15px;
  right: 15px;
  bottom: -10px;
}

.checklist-container:after {
  left: 7.5px;
  right: 7.5px;
  bottom: -5px;
}


.checklist-component {
  background: #fff;
  border: 1px solid #dfdfdf;
  box-shadow: 0 2px 4px #dfdfdf;
  flex-grow: 1;

  padding: 0;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  z-index: 1;
  position: relative;
}

.checklistbar {
  position: relative;
  width: 1em;
  background: #f3f3f3;
  border-radius: 3px 0 0 3px;
  overflow: hidden;
  flex-shrink: 0;
}

.checklist-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.checklist-status {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 10px;
  font-size: 13px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
