<div>
  
  <div class="modal-header" ng-show="alerts.length==1 && alerts[0].title">
    <h3 class="modal-title"  >{{ alerts[0].title }}</h3>
  </div>

  <div class="modal-body">
    <div ng-if="alerts.length <= 1">
      <pre>{{alerts[0].message}}</pre>
    </div>
    <div ng-if="alerts.length > 1">
      <div ng-repeat="m in alerts">
        <div style="font-weight:bolder" ng-show="m.title">{{m.title}}</div>
          <div><pre>{{m.message}}<span class="badge">{{m.count}}</span></pre></div> 
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-lg btn-danger" style="padding-left:2em;padding-right:2em;"ng-click="close()">
      好的，知道了
    </button>
  </div>
</div>
