



/* Sidebar Styles */
.sidebar {
    z-index: 1050;
    position: fixed;
/*	right: 1rem;
	margin-top: 0rem;
*/
    right: 130px;
    margin-top: 5px;

    /*overflow-y: auto;*/
	/*background-color: rgba(250,250,250,0.8);*/
	/*border-radius: 9px;*/
    transition: transform 1s ease-in, opacity 1s ease-in;
}

.sidebar .btn-grp {
	display: inline-block;
	padding-left: 0;
	margin: 0 5px 0;
	list-style: none;
	min-width: 4rem;
}

.sidebar .btn-grp:first-child {
	margin-left: 0;
}

.sidebar .btn-grp:last-child {
	margin-right: 0;
}

.sidebar .btn-grp li  {
	display: inline-block;
	height: 40px;
	min-width: 4rem;

	
	/*background-image: linear-gradient(to bottom, #91F09D 0,#00631a 100%);*/
    background-image: linear-gradient(to bottom, #FD2828 0,#DB1212 100%);
}

.sidebar .btn-grp li .btn {
	display: inline-block;
	height: 100%;
	min-width: 1.6rem;
	color: #FFF;
	font-weight: bold;
	font-size: 1.5rem
}

.sidebar .btn-grp li .btn[disabled] {
	color: #F0E2E2;
}

.sidebar .btn-grp li .btn > span > .glyphicon {
	top: 3px;
}


.sidebar .btn-grp li .btn:hover {
	color: rgb(239, 244, 44);
	font-weight: bolder;
}

.sidebar .btn-grp li .btn > span {
	display: inline-block;
	vertical-align: middle;
}

.sidebar .btn-grp li:not(:first-child):not(:last-child) {
	border-radius: 0;
	margin: 0;
}

.sidebar .btn-grp li:first-child {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;  

    border-right-width: 0px; 
    margin-right: 0;
}

.sidebar .btn-grp li:last-child {
	margin-left: 0;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;  	
}




.sidebar-nav {
    right: 0;
    width: 55px;
    margin: 0;
    padding: 0;
    list-style: none;
  	text-align: center;
  	font-size: 18px;
    padding: 5px 0px;

    background: #000;

    border-top: 2px;
    border-top-left-radius: 9px;
    border-bottom: 2px;
    border-bottom-left-radius: 9px;  
    border-right-width: 0px; 	

    background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
    background-repeat: repeat-x;  

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

    border-right-style: solid;
}

.sidebar-nav li {
    display: block;
    width:  100%;
    height: 35px;
    margin: 0 0;
/*    border-right-color: black;
    border-right-width: 3px;
    border-right-style: solid;
*/    
    box-sizing: border-box;    
}

.sidebar-nav li:hover {
    display: block;
    width:  100%;
    height: 35px;
    margin: 0 0;
    border-right-color: red;
    border-right-width: 3px;
    border-right-style: solid;
}


.sidebar-nav li .btn {
    height: 35px;
    width:  55px;
    margin: auto auto;
    padding: 3px 0px;

    color: #FFF;  
    font-size: 1rem;
}

.sidebar-nav li .btn:hover {
    height: 35px;
    width:  55px;
    margin: auto auto;
    padding: 3px 0px;

    color: #FFF;
    font-weight: bolder;
    font-size:1.08em;
}


.sidebar-nav li label {
    height: 35px;
    width:  55px;
    margin: auto auto;
    padding: 3px 0px;

    text-decoration: none;
    color: #FFF;
}

.sidebar-nav li label .badge {
  background-color: #60D333;
  font-size: 1em;
}


.sidebar-nav li .btn:active,
.sidebar-nav li .btn:focus {
    text-decoration: none;
}
