.App {
    /* text-align: center; */
    background-color: #bbb;
    padding: 10px;
}

/* .paper-card {
    width: 80em;
    filter: drop-shadow(3px 3px 2px #999);
} */

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}