.questlist {
  width: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.questlist .panel-body {
  flex: 1;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}


.questlist  .grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: static;;
  z-index: 0;
}

.questlist .grid-item {
  display: flex;
  position: relative;;
  z-index: 0;
  min-height: 3em;
  min-width: 8em;
  margin: 6px;
  background-color: #fff;
  padding: 0 10px;
  flex-direction: column;
  min-width: 42em;
  width: 47%;
}

.bs-glyphicon-fix {
  top: 3px;
  margin-right: 2px;
}

.empty-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-content: inherit; */
  height: calc(100vh - 100px);
  width: 100%;
}

.empty-pane > .empty {
  width: 25%; 
  text-align: center;
  font-size: 25vh;
  color: rgba(153, 153, 153, 0.44);
  text-shadow: lightblue;
  border-style: solid;
  border-radius: 50%;
  height: 35vh;
  width: 35vh;
  line-height: 35vh;
  vertical-align: inherit;
}
