<div class="btn-group ">
  <a class="btn btn-primary" ng-disabled="params.loading || pageNo <= 1" ng-click="turn(-1)">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>  

  <div class="btn-group" dropdown is-open="menu.isopen" >
    <button type="button" class="btn btn-primary dropdown-toggle" style="min-width:3em;" ng-disabled="params.loading">
      <div style="height:100%; font-weight:bolder; width:6rem">{{getTitle()}}</div> 
      <div style="position: absolute; width: 100%; bottom: 0; left: 0; margin-bottom: 1px; font-size: 5px;" >
        <span class="caret"></span>
      </div>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-header">翻页跨度</li>
      <li ng-repeat="s in params.span">
        <a ng-click="setTimeSpan(s)">{{s.title}}
          <span class="glyphicon glyphicon-eye-open" ng-show="s.id==span.id"></span>
        </a>
      </li>
      <li class="divider" ng-if="params.tags.length > 0"></li>
      <li class="dropdown-header" ng-if="params.tags.length > 0" >按范围筛选(可多选)</li>
      <li ng-repeat="i in params.tags">
        <a ng-click="i.selected = ! i.selected">
          {{i.title}}
          <span class="glyphicon glyphicon-ok" ng-show="i.selected"></span>
        </a>
      </li>
        
    </ul>
  </div>

  <a class="btn btn-primary" ng-disabled="params.loading" ng-click="turn(1)">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  <a class="btn btn-primary" ng-disabled="params.loading" ng-click='turn(0)'>
    <span class="glyphicon glyphicon-refresh"></span>
  </a>

</div>


