
input.form-control[disabled][editable=false], label.form-control {
	color: #555;
	background-color: #fff;
	background-image: none;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom: 2px solid black;
	border-radius: 0px;
	box-shadow: none;
	cursor: default;
}

.form-control.select-user {
	display: inline-block;
	background-image : none;
	box-shadow: none;
	border-style: none;
	padding: 0; 
	
	font-weight: bolder;	
}

.form-control.select-user .uneditable {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	display: inline-block;
	width: 100%;
	text-align: center;	
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;	
}

.form-control.select-user .editable {
	width: 100%;	
}

.form-control.select-dep {
	display: inline-block;
	background-image : none;
	box-shadow: none;
	border-style: none;
	padding: 0;

	font-weight: bolder;
}

.form-control.select-dep .uneditable {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	display: inline-block;
	width: 100%;
	text-align: center;	
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;	
}

.form-control.select-dep .editable {
	width: 100%;	
}

.form-control.select-date {
	display: inline-block;
	padding: 0;

}

.form-control.select-date .uneditable {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	display: inline-block;
	width: 100%;
	text-align: center;	
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	

}

.form-control.select-date .editable {
	width: 100%;	
}

.form-control.select-date > .editable > .input-group > .input-group-btn > .btn {
	background-image : none;
	box-shadow: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom: 2px solid black;
	border-radius: 0px;
	margin-bottom: -1px
}

.form-control.select-date > .editable > .input-group > input.form-control {
	background-color : white;
	background-image : none;
	box-shadow: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;

	border-bottom: 2px solid black;		
	border-radius: 0px;

	padding: 2px 0px;
	text-align: center;
}

.form-control.select-date > .editable > .input-group > .input-group-btn > .btn {
	background-color : white;
	background-image : none;
	box-shadow: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;

	border-bottom: 2px solid black;		
	border-radius: 0px;
	padding: 6px 0px;
}

.form-control.select-date > .editable > .input-group > .input-group-btn > .btn:hover {
	background-color : white;
	background-image : none;
	box-shadow: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;

	border-bottom: 2px solid black;		
	border-radius: 0px;
}

.select2-container .select2-choice {
	min-width: 7em;
	width: 100%;
	overflow: inherit;
	/*height: inherit;*/
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	background-image: initial;

	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-width: 2px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	border-bottom-color: #0A0A0A;	


}

.select2-drop {
	min-width: 16em;
 	padding-top: 5px;
}


.select2-drop-active {
 	border-top: 1px;	
}

.select2-container .select2-choice .select2-arrow {
	border-left: initial;
 	border-radius: initial; 
 	background-clip: initial; 
 	background: initial; 
 	background-image: initial;
 	
 	top: 0.5em;
 	right: 2px;

}


.select2-container .select2-choice .select2-arrow b {
	position: relative;
	top: 1px;
	
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-size: 1.2em;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	background:none;
}

.select2-arrow b:before {
	content: "\e032";
}

.select2-dropdown-open .select2-arrow b:before {
	content: "";
}