<div class="label udd-btn"  ng-show="!isBlankRow()">
  <div class="udd-updown-grp" style="">
    <div class="udd-up-btn" ng-click="up()" ng-disabled="isHead()">
      <span class="glyphicon glyphicon-menu-up" >
    </div>
    <div class="udd-down-btn" ng-click="down()" ng-disabled="isTail()">
    <span class="glyphicon glyphicon-menu-down"  >
    </span>
    </div>
  </div>
  <div class="udd-del-btn" ng-click="del()" ng-disabled="isBlankRow()">
    <span class="glyphicon glyphicon-remove-circle" ></span>
  </div>
</div>
